@model IEnumerable<CosmosBlog.Models.Post>

@{
    ViewBag.Title = "AdminPageByStatus";
}

<div class="row">
    <div class="col-xs-12">
        <div class="col-sm-1"> @*Empty div for left side*@</div>
        <div class="col-sm-11">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-1"> @*Empty div for left side*@</div>
    <div class="col-xs-11">
        <h1>Manage Blog Posts</h1>
        @Html.ActionLink("Return Home", "Index", "Home")<br /><br />
        <table class="table table-striped" style="width: auto;">
            <thead>
                <tr>

                    <th>Title</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var post in Model)
            {
                    <tr>

                        <td>@post.Title</td>
                        <td>@post.Description</td>
                        <td>@post.DateCreated.ToString("MM/dd/yyyy")</td>
                        <td>@Html.ActionLink("View", "ViewPostAsAdmin", "Admin", new { id = post.PostID }, null)</td>

                    </tr>

                }
            </tbody>
        </table>


    </div>
</div>
}




